@model Livro
@{
    ViewData["Title"] = "Cadastro de Livros";
}

<h1 class="row justify-content-md-center">Cadastro de Livro</h1>
<P class="text-danger">@ViewData["mensagem"]</P>
<partial name="_FormCadastro" for="@Model" />